<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="RU">
<head th:insert="~{layout::headerFragment}">
	<title>HELLO WORLD</title>
</head>
<body>
<div class="container">
	<div class="jumbotron text-center">
		<h1>Web Flux Netty Local Host 8080</h1>
	</div>

	<h3>Hello, <span th:text="${username}">--text--</span></h3>
	<h4>имя: <span th:text="${first_name}">--text--</span></h4>
	<h4>фамилия: <span th:text="${last_name}">--text--</span></h4>
	<H4>телефон: <span th:text="${phone}">--text--</span></H4>
	<h4>должность: <span th:text="${position}">--text--</span></h4>
	<h4>департамент: <span th:text="${department}">--text--</span></h4>
	<h4>метод 2FA: <span th:text="${method_2FA}">--text--</span></h4>
	<h4>abscust_id: <span th:text="${abscust_id}">--text--</span></h4>
	<H4>полное имя: <span th:text="${full_name}">--text--</span></H4>
	<h4>последний вход: <span th:text="${enter_time}">--text--</span></h4>
	<div><br></div>

	<h4>Granted Client Roles:
		<tbody>
		<tr th:each="role : ${client_roles}">
			<td th:text="${role}">--text--</td> ,
		</tr>
		</tbody>
	</h4>
	<h4>Granted Realm Roles:
		<tbody>
		<tr th:each="role : ${realm_roles}">
			<td th:text="${role}">--text--</td> ,
		</tr>
		</tbody>
	</h4>

	<div class=""><p><br></p></div>
	<div class="well">
		<b>Выход: </b><a href="/webflux/custom-logout">LOGOUT</a>
	</div>

	<div id="pagefoot" th:insert="~{layout::footerFragment}">Footer
	</div>
</div>
<!-- container -->

</body>
</html>